* {
    padding: 0;
    margin: 0;
}
header {
    background-color: #a8ddff;
    border-bottom: 2px #0400b0 solid;    
}
a {
    color: #000000 !important;
    text-decoration: none !important;
}
.menu {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px #0400b0 solid;    
}
.menu, .menu ul {
    list-style-type: none !important ;
}
ul ul {
    padding-left: 20px;
}
li>ul {
    font-size: 0.8em;
}
.left-block{
    background-image: url(images/image6.jpg);
    background-repeat: no-repeat;
}
.login-form input {
    background-color: #cdebff;
    width: 100px;

}
